body {
  background-color: #2aa9db;  
}

div {
   border:5px solid yellow;
}

h1 {
  color: red;
  text-align: center;
  font-size: 50px;
  
}

p {
  font-family: verdana;
  font-size: 30px;
  color: white;
  border:5px solid pink;
  margin: 10px 10px;
  padding:20px;
}
